**/Debug/*.log
**/Debug/*.ilk
**/Debug/*.obj
**/Debug/*.pdb
**/Debug/*.txt
**/Debug/*.idb
**/Debug/**/*.lastbuildstate
**/Debug/**/*.tlog

**/Release/*.log
**/Release/*.ilk
**/Release/*.obj
**/Release/*.pdb
**/Release/*.txt
**/Release/*.idb
**/Release/**/*.lastbuildstate
**/Release/**/*.tlog

**/Release/*.iobj
**/Release/*.ipdb

**/.vs/